<div class="nav-tabs-custom nav-tabs-custom-smsfree">
  <ul class="nav nav-tabs">
    <li ng-class="{active: vm.view == 'message'}">
      <a href="#" ng-click="vm.view = 'message'">
        <i class="fa fa-list"></i> 
        <span class="hidden-xs">Messages</span>
      </a>
    </li>
    <li ng-class="{active: vm.view == 'template'}">
      <a href="#" ng-click="vm.view = 'template'">
        <i class="fa fa-file-text-o"></i> 
        <span class="hidden-xs">Templates</span>
      </a>
    </li>
    <li ng-class="{active: vm.view == 'config'}">
      <a href="#" ng-click="vm.view = 'config'">
        <i class="fa fa-cogs"></i> 
        <span class="hidden-xs">Configuration</span>
      </a>
    </li>
  </ul>

  <div ng-show="!vm.config.id && vm.view != 'config'" class="alert alert-info">
    <i class="fa fa-info"></i>
    Vous n'avez pas configurer le module. 
    <a href="#" ng-click="vm.view = 'config'" class="alert-link"><i class="fa fa-cogs"></i> Configurer</a>
  </div>

  <div ng-show="vm.view == 'message'">
    <form ng-show="vm.config.id">
      <strong>Tester l'envoi d'un SMS</strong>
      <div ng-show="vm.error.addMessage" class="alert alert-danger">
        <i class="fa fa-ban"></i>
        <button ng-click="vm.error.addMessage = false" type="button" class="close">x</button>
        {{vm.error.addMessage | errorToString}}
      </div>
      <div class="input-group">
        <input ng-model="vm.form.addMessage.message" type="text" class="form-control" placeholder="Message">
        <span class="input-group-btn">
          <button ng-click="vm.addMessage()" class="btn btn-default" type="button">Envoyer</button>
        </span>
      </div>
    </form>
    <hr>
    <table ng-show="vm.messages.length > 0" class="table table-condensed">
      <thead>
        <tr>
          <th style="max-width:100px;">Status</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="message in vm.messages | orderBy:'id':true">
          <td>{{message.statusCode}}</td>
          <td>{{message.message}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="vm.view == 'template'">
    <table ng-show="vm.templates.length > 0" class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Message</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="template in vm.templates | orderBy:'id':true">
          <td>{{template.id}}</td>
          <td>{{template.name}}</td>
          <td>{{template.message}}</td>
          <td>
            <button ng-click="vm.setModal('updateTemplate', template)" class="btn btn-primary btn-xs">Editer</button> 
            <button ng-click="vm.destroyTemplate(template)" class="btn btn-danger btn-xs">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="form-group text-center">
      <button ng-click="vm.setModal('addTemplate')" class="btn btn-primary">Ajouter un template</button>
    </div>
    <hr>
    <div class="alert alert-info">
      <i class="fa fa-info"></i>
      Les templates sont utilent pour envoyer des SMS via le scénario sans utiliser les scripts.
    </div>
  </div>

  <div ng-show="vm.view == 'config'">
    <form>
      <div class="form-group" ng-show="vm.config.id">
        <label><code>configId</code></label>
        <input ng-model="vm.config.id" type="text" class="form-control" disabled>
        <span class="text-muted" style="font-size:12px">ID de configuration, utile pour envoyer un SMS depuis un script.</span>
      </div>
      <div class="form-group">
        <label>Indentifiant</label>
        <input ng-model="vm.config.apiUser" type="text" class="form-control" placeholder="Votre identifiant Free Mobile">
      </div>
      <div class="form-group">
        <label>Clé d’identification</label>
        <input ng-model="vm.config.apiPass" type="text" class="form-control" placeholder="Votre clé d’identification Free Mobile">
        <span class="text-muted" style="font-size:12px">
          <a href="https://mobile.free.fr/moncompte/" target="_blank">https://mobile.free.fr/moncompte/</a>
          -> Gérer mon compte
          -> Mes options
          -> Notifications par SMS
        </span>
      </div>
      <div class="form-group text-right">
        <button ng-if="!vm.config.id" ng-click="vm.addConfig()" class="btn btn-primary">Envoyer</button>
        <button ng-if="vm.config.id" ng-click="vm.updateConfig()" class="btn btn-primary">Envoyer</button>
      </div>
    </form>
  </div>

</div>

<!-- modal -->
<div class="modal modal-smsfree" ng-show="vm.modal">
  <div class="modal-dialog">
    <div ng-if="vm.modal" ng-include="vm.modal" class="modal-content"></div>
  </div>
</div><!-- modal -->
  
<!-- modal content -->
<script type="text/ng-template" id="/smsfree.modal.addTemplate.html">
  <div class="modal-header">
    <button ng-click="vm.setModal(false)" type="button" class="close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Ajouter un template</h4>
  </div>
  <div class="modal-body">
    <div ng-show="vm.error.addTemplate" class="alert alert-danger">
      <i class="fa fa-ban"></i>
      <button ng-click="vm.error.addTemplate = false" type="button" class="close">x</button>
      {{vm.error.addTemplate | errorToString}}
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <label>Nom</label> 
      <div class="form-group">
        <input ng-model="vm.form.addTemplate.name" type="text" class="form-control" placeholder="Nom sur Gladys">
      </div>
      <label>Message</label> 
      <div class="form-group">
        <input ng-model="vm.form.addTemplate.message" type="text" class="form-control" placeholder="Message à envoyer">
      </div>
      <div class="form-group text-right">
        <button ng-click="vm.addTemplate()" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</script>
<script type="text/ng-template" id="/smsfree.modal.updateTemplate.html">
  <div class="modal-header">
    <button ng-click="vm.setModal(false)" type="button" class="close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Editer votre template</h4>
  </div>
  <div class="modal-body">
    <div ng-show="vm.error.updateTemplate" class="alert alert-danger">
      <i class="fa fa-ban"></i>
      <button ng-click="vm.error.updateTemplate = false" type="button" class="close">x</button>
      {{vm.error.updateTemplate | errorToString}}
    </div>
    <div class="col-sm-8 col-sm-offset-2">
      <label>Nom</label> 
      <div class="form-group">
        <input ng-model="vm.form.updateTemplate.name" type="text" class="form-control" placeholder="Nom sur Gladys">
      </div>
      <label>Message</label> 
      <div class="form-group">
        <input ng-model="vm.form.updateTemplate.message" type="text" class="form-control" placeholder="Message à envoyer">
      </div>
      <div class="form-group text-right">
        <button ng-click="vm.updateTemplate()" class="btn btn-primary">Envoyer</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</script>
